<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCSUszltOcFv9rs5IcP_rGBvRx5JMvFSVs</string>
	<key>GCM_SENDER_ID</key>
	<string>712556570451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mysvcs.radMysvcs</string>
	<key>PROJECT_ID</key>
	<string>myservices-radius</string>
	<key>STORAGE_BUCKET</key>
	<string>myservices-radius.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:712556570451:ios:9933b736680adf90c363a6</string>
</dict>
</plist>